<launch>
  <rosparam command="load" file="$(find rc-autonomy)/config/imu.yaml" />
  <node name="imu" pkg="witmotion_ros" type="witmotion_ros_node" output="screen"/>

  <node pkg="tf" type="static_transform_publisher" name="base_link_imu_static_transform"
      output="screen" args="0 0 0 0 0 0 base_link imu 100" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find rc-autonomy)/config/robot_localization.yaml" />
  </node>

  <node pkg="rc_localization_odometry" type="odometry_node" name="encoder_odometry">
    <rosparam command="load" file="$(find rc-autonomy)/config/robot_localization.yaml" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_encoder_static_transform"
      output="screen" args="0 0 0 0 0 0 base_link encoder 100" />
</launch>