<launch>

  <rosparam command="load" file="$(find rc-autonomy)/config/teleop_config.yml" />
  <rosparam command="load" file="$(find rc-autonomy)/config/servo_config.yml" />

  <!-- Launch rc-teleop -->
  <include file="$(find rc-teleop)/launch/teleop.launch">
  </include>

  <!-- Launch rc-localization -->
  <!-- <include file="$(find rc-localization)/launch/localization.launch">
  </include>  -->

  <!-- Launch rc-hardware-actuation -->
  <include file="$(find rc-hardware-actuation)/launch/servo.launch">
  </include>


</launch>
